body {
    z-index: 1;
    font-family: Arial, sans-serif;
    background-color: #c0bdbd;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
}

.imageNavbar {
    width: 120px;
    height: 80px;
    margin-left: 150px;
}

@media (max-width: 800px) { 
    .imageNavbar {
        width: 80px;
        height: 40px;
        margin-left: 30px;
    }
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1rem;
}

.navbar-links li a:hover {
    background-color: #ffffff;
    color: #a8b326;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

.hero-container {
    position: relative;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.795) 0%, rgba(0, 0, 0, 0.438) 50%, rgba(0, 0, 0, 0.185) 100%);
}

.herobanner {
    position: relative;
    width: 100%;
    height: 700px;
    z-index: -1;
}

@media (max-width: 800px) { 
    .herobanner {
        height: 400px;
    }
}


.conteneur {
    width: 100%;
    text-align: center;
    margin-top: -550px;
}

.titrePageAccueil {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
}

@media (max-width: 800px) { 
    .conteneur {
        margin-top: -300px;
    }
    .titrePageAccueil {
        padding: 5px;
    }
}

.block1 {
    display: flex;
    width: 100%;
    margin-top: 458px;
    background-color: #a8b326;
}

.block1 img {
    width: 50%;
    height: 280px;
}

.block1 .textRight {
    width: 50%;
    text-align: right;
}
/**
.block1::before {
    content: '';
    position: absolute;
    top: 864px;
    right: 950px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 200px 300px;
    border-color: transparent transparent #a8b326 transparent;
    z-index: 2;
}
**/
.block2 {
    display: flex;
    width: 100%;
    background-color: #807766;
}

.block2 img {
    width: 50%;
    height: 280px;
}

.block2 .textLeft {
    width: 50%;
    text-align: left;
    color: white;
}
/**
.block2::before {
    content: '';
    position: absolute;
    top: 1144px;
    right: 655px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 300px 200px 0px;
    border-color: transparent transparent #807766 transparent;
    z-index: 2;
}
**/

